@theme {
  /* shadows */
  --shadow-xs: 0px 1px 2px 0px #0000000d;
  --shadow-xs-skeuomorphic:
    0px 1px 2px 0px #0000000d, 0px -2px 0px 0px #0000000d, 0px 0px 0px 1px #0000002e;
  --shadow-sm: 0px 1px 2px -1px #0000001a, 0px 1px 3px 0px #0000001a;
  --shadow-md: 0px 2px 4px -2px #0000000f, 0px 4px 6px -1px #0000001a;
  --shadow-lg: 0px 2px 2px -1px #0000000a, 0px 4px 6px -2px #00000008, 0px 12px 16px -4px #00000014;
  --shadow-xl:
    0px 3px 3px -1.5px #0000000a, 0px 8px 8px -4px #00000008, 0px 20px 24px -4px #00000014;
  --shadow-2xl: 0px 4px 4px -2px #0000000a, 0px 24px 48px -12px #0000002e;
  --shadow-3xl: 0px 5px 5px -2.5px #0000000a, 0px 32px 64px -12px #00000024;
  --shadow-avatar-inner-shadow: 0px 0px 0px 0.5px #00000029, 0px 0px 0px 1px #ffffff3d;
  --shadow-avatar-icon:
    0px 0px 0px 0.5px #00000029, 0px 0px 0px 1px #ffffff3d, 0px 0px 0px 1px #ffffff;
  --shadow-focus-ring: 0px 0px 0px 4px #9e77ed, 0px 0px 0px 2px #ffffff;
  --shadow-focus-ring-shadow-xs:
    0px 0px 0px 4px #9e77ed, 0px 0px 0px 2px #ffffff, 0px 1px 2px 0px #0000000d;
  --shadow-focus-ring-shadow-xs-skeuomorphic:
    0px 0px 0px 4px #9e77ed, 0px 0px 0px 2px #ffffff, 0px 1px 2px 0px #0000000d,
    0px -2px 0px 0px #0000000d, 0px 0px 0px 1px #0000002e;
  --shadow-focus-ring-shadow-sm:
    0px 0px 0px 4px #9e77ed, 0px 0px 0px 2px #ffffff, 0px 1px 2px 0px #0000001a,
    0px 1px 3px 0px #0000001a;
  --shadow-focus-ring-error: 0px 0px 0px 4px #ef4444, 0px 0px 0px 2px #ffffff;
  --shadow-focus-ring-error-shadow-xs:
    0px 0px 0px 4px #ef4444, 0px 0px 0px 2px #ffffff, 0px 1px 2px 0px #0000000d;
  --shadow-focus-ring-error-shadow-xs-skeuomorphic:
    0px 0px 0px 4px #ef4444, 0px 0px 0px 2px #ffffff, 0px 1px 2px 0px #0000000d,
    0px -2px 0px 0px #0000000d, 0px 0px 0px 1px #0000002e;
  --blur-sm: blur(8px);
  --blur-md: blur(16px);
  --blur-lg: blur(24px);
  --blur-xl: blur(40px);
}
